alembic
blinker
click
colorama
dnspython
email-validator
et_xmlfile
Flask<3.0.0
Flask-Login
Flask-Migrate
Flask-SQLAlchemy<3.0.0
Flask-WTF
greenlet
gunicorn
idna
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
openpyxl
packaging
pillow
pluggy
Pygments
pytest
python-dotenv
SQLAlchemy<2.0.0
typing_extensions
Werkzeug<3.0.0
WTForms
