{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-md-8 text-center">
        <div class="container-box" style="background: #fff;">
            <h1 class="display-4 text-success mb-3">🎉 Hurra! 🎉</h1>
            <p class="lead">Tack för att du anmälde dig till nyhetsbrevet.</p>
            <img src="{{ url_for('static', filename='capybara.gif') }}" class="img-fluid rounded mb-4" style="max-height: 200px;">
            <br>
            <a href="{{ url_for('index') }}" class="btn btn-outline-primary rounded-pill mt-3">Tillbaka till startsidan</a>
        </div>
    </div>
</div>
{% endblock %}